extends inc/layout.jade

block content
	.app-movie
		.app-movie-bg
			.app-movie-bg-circle2
			.app-movie-bg-circle
			.app-movie-bg-wall
				span
				span
				span
				span
				span
				span
			.app-movie-bg-clock
				span
				span

		.app-movie-wolf
			.app-movie-wolf-body
				.app-movie-wolf-head
					.app-movie-wolf-head-ears
						span
						span
					.app-movie-wolf-head-hair
						span
						span
						span
					.app-movie-wolf-head-eyes
						span
						span
					.app-movie-wolf-head-char
						span ?
				.app-movie-wolf-hand
					span
					span

		.app-movie-keyboard
		.app-movie-monitor-light
		.app-movie-monitor
			.app-movie-monitor-logo
			.app-movie-monitor-block
				span
				span
				span
				span
			.app-movie-monitor-set
			.app-movie-monitor-base

		.app-movie-table
		.app-movie-light
			div
				span
					span
						div.cokol
							div.abajour
		.app-movie-book
			span
			span
			span
		.app-movie-book.app-movie-book-s2
			span
			span
			span
			span
		.app-movie-tea
			span